
/* This is my Style Sheet */

/* Colors
  - body (text)     #3a4750
  - heading         #1B2631
  - theme (links)   #34495E
  - link hover      #1B2631
  - sections        #30261B
  - Background      #FFFFFF
*/

img {
  border-radius: 50%;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #EAECEE;
  font-weight: 300;
  background: #f8f8f8;
}

/* Text */
h1, h2 {
  margin: 0 0 15px;
  color: #30261B;
}
h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
  line-height: 1.8em;
  font-weight: 700;
  letter-spacing: .1rem;
}
h2 {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 700;
}
p {
  margin-bottom: 20px;
}
strong {
  color: #1B2631; 
  font-weight: 500;
}

/* Links */
a {
  color: #34495E;
/*   -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; */
}
/* a:visited {
  color: #34495E;
  text-decoration: none!important;
} */
a:hover {
  color: #1B2631;
  text-decoration: none!important;
}
/* a:active {
  color: #34495E;
  text-decoration: none!important;
} */

/* Navigation bar */
.topnav {
  background-color: #34495E;
/*   overflow: hidden; */
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none!important;
  font-size: 15px;
  width: 20%;
/*   border-bottom-style: solid;
  border-bottom-color: #FFFFFF; */
/*   border-bottom-width: 2px; */
}
/* Change the color of links on hover */
.topnav a:hover {
/*   background-color: #FFFFFF; */
  color: #FFFFFF;
/*   color: #1B2631; */
}
/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #1B2631;
  color: #FFFFFF;
} */


/* main wrapper */
#main-wrapper {
  overflow: hidden;
}
.container {
  max-width: 850px;
}


/* section */
.section {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .section {
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 20px;
  }
}

/* ----------------------------------------------
 * section title
 * ---------------------------------------------- */
.section-title {
  font-family: 'Fjalla One', sans-serif;
  padding-right: 18px;
  text-align: right;
/*   border-right: 3px solid #34495E; */
}
.section-title h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #30261B;
  text-transform: capitalize;;
  font-weight: 500;
  letter-spacing: .1rem;
}
@media (max-width: 768px) {
  .section-title {
    text-align: left;
  }
  .section-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

/* header */
.header {
  padding: 40px 0 30px 0;
  margin: 0;
  position: relative;
/*   border-top: 7px solid #34495E; */
}
.header .profile-img {
  margin-bottom: 30px;
}
.header .name {
  margin-bottom: 15px;
}
.header .name h1 {
  line-height: 1;
  margin: 0 0 5px;
  color: #30261B
}
.header .name h2 {
  font-size: 24px;
  color: #34495E;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
    .header .profile-img {
    margin: 0 0 30px;
  }
}
@media (max-width: 600px) {
  .header{
    padding: 20px;
  }
}

/* icons */
/* .icons {
  display: block;
  margin: 2px 0;
  padding: 0;
}
.icons li {
  display: block;
  margin: 0 2px;
}
.icons li a {
  display: block;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 5px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 6px;
  border: 2px solid #eee;
}
.icons li a:hover {
  color: #FFFFFF;
} */

.icons {
  margin: 2px 0;
  padding: 0;
  display: block;
}
.icons li {
  display: inline-block;
  margin: 0 2px;
}
.icons li a {
  display: block;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 0px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #eee;
}
.icons li a:hover {
  color: #FFFFFF;
}



/* news */
.news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news li {
  padding-left: 20px; /* with hanging indent */
  text-indent: -20px;
}
.news li strong {
  font-weight: 500;
}

/*  publications */
.publications .publications-item {
  margin-bottom: 20px;
}
.publications .publications-item .title {
/*   color: #1B2631; */
  font-weight: 500;
  margin-bottom: 3px;
}
/* .publications a {
  color: #34495E;
}
.publications a:visited {
  color: #34495E;
  text-decoration: none!important;
}
.publications a:hover {
  color: #1B2631;
  text-decoration: none!important;
}
.publications a:active {
  color: #34495E;
  text-decoration: none!important;
} */
